



[class*="col-"] {
  border: 1px solid;
  height: 100px;
}
.row {
  background-color: pink;
}

section, footer, header {
  background-color: pink;
}

[class*="col-"] {
  border: 1px solid;
  height: 100px;
}

.row {
  background-color: pink;
}


section {
  padding: 0 10%;
}
